.header {
  background: #b2b2b2;
  height: 100px;
  font-size: 14px;
  //border: 1px solid red;
}

.footer {
  background: #999;
  height: 50px;
  font-size: 14px;
}

.container {
  height: 300px;
}

#loginContainer {
  float: right;
}
.header1 {
	font-size: 26px;
	float: left;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}
.logo {
	float: left;
	margin-top: 21px;
	margin-right: 51px;
}
.home {
	text-align: center;
	padding: 100px;
	font-size: 26px;
}
.teams {
	font-size: 26px;
	margin-left: 27px;
	text-align: center;
	color : #666666;
	font-family: 'Roboto', sans-serif;
}
.boxed {
	border: 1px solid #ccc;
	float: left;
	width: 397px;
	margin-right: 10px;
	margin-bottom: 40px;
}
.boxedTeam {
	/*border: 1px solid #ccc; */
	width: 100%;
	height: 75px;
	margin-right: 10px;
	background-color: #ffb732;
	text-align: center;
	padding-top: 35px;
}
.boxedManger {
	border: 1px solid #ccc;
}

.overflow {
	overflow: hidden;
}
.teamText {
	text-align: center;
	color: #fff;
	font-size: 26px;
	font-family: 'Roboto', sans-serif;
}
.managerText {
	text-align: center;
	color: #848484;
	display: block;
	padding-top: 10px;
	font-size: 18px;
	padding-bottom: 10px;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
}
.a_manager {
	background-color: #00FF7F;
	text-align: center;
}
.developer {
	background-color: #00BFFF;
	text-align: center;
}
.buttonRight {
	float: right;
}
.boxedMember {
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	float: left;
	width: 200px;
	margin-right: 1px;
	margin-bottom: 200px;
}
input[type=text] {
	width : 60px;
}